* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  background-image: url(./images/0c60df896c7e067e85863dd4b4696260ece23348.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 120vh;
}
.uyin {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 10px;
  padding-top: 2rem;
  color: cyan;
}
.game {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 5px;
  color: rgb(97, 90, 245);
}
.images {
  width: 80px;
  margin: 0 auto;
  animation: anime 3s infinite alternate;
}
@keyframes anime {
  100% {
    transform: translateY(50px);
  }
}
.gameimg {
  width: 100%;
}
.kinopka {
  width: 250px;
  margin: 55px auto;
}
.kinopka button {
  padding: 5px 90px;
  border: 2px solid blue;
  border-radius: 50px;
  background-color: aqua;
  text-decoration: none;
  color: orange;
  font-size: 26px;
}
.kinopka button:active {
  background-color: orange;
  color: aqua;
}
.uyinchi1 {
  padding: 5px 90px;
  border: 2px solid blue;
  border-radius: 50px;
  background-color: aqua;
  text-decoration: none;
  color: orange;
  font-size: 26px;
}
.uyinchi1:active {
  background-color: orange;
  color: aqua;
}
.uyinchi2 {
  padding: 5px 90px;
  border: 2px solid blue;
  border-radius: 50px;
  background-color: aqua;
  text-decoration: none;
  color: orange;
  font-size: 26px;
}
.uyinchi2:active {
  background-color: orange;
  color: aqua;
}
.natija {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#h1 {
  text-align: center;
  font-size: 36px;
  padding: 2rem;
  color: gold;
  font-weight: 900;
}
#h2 {
  text-align: center;
  font-size: 36px;
  padding: 2rem;
  color: gold;
  font-weight: 900;
}
.yutuq1 {
  text-align: center;
  font-size: 28px;
  padding-top: 2rem;
  color: gold;
  font-weight: 900;
  text-transform: uppercase;
}
.yutuq2 {
  text-align: center;
  font-size: 28px;
  padding-top: 2rem;
  color: gold;
  font-weight: 900;
  text-transform: uppercase;
}
.falsee {
  color: red;
  text-align: center;
  font-size: 22px;
  padding-top: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (max-width: 550px) {
  .natija {
    flex-direction: column;
  }
  .container {
    height: 160vh;
  }
}
